.DS_Store
__pycache__/Cards.cpython-313.pyc
__pycache__/VideoStream.cpython-313.pyc
media/squares.png
media/test.jpg
media/test2.png
media/triangles.png
media/test_img_1.png
media/test_img_2.png
media/test_img_3.png
media/test_img_4.png
media/test_img_5.png
media/test_img_6.png
media/test_img_7.png
media/test_img_8.png
media/test_img_9.png
media/test_img_10.png
media/test_img_11.png
media/test_img_green.png
media/test_img_red.png
media/test_vid_2.MOV
media/test_vid_3.MOV
media/test_vid_4.MOV
media/hsv_values.rtf
